
<section layout:decorator="layout/layout" layout:fragment="content">
	<div class="row">
		<form name="user" action="addAddress" method="post" role="form" class="form-inline">
			<label for="textAddress">Address:</label>
			<div class="form-group">
				<input type="text" name="address" class="form-control" id="textAddress" />
			</div>
			<input type="submit" value="Add" class="btn btn-default" />
		</form>
	</div>

	<br />

	<div class="row">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Address</th>
					<th>Balance</th>
				</tr>
			</thead>
			<tbody th:if="${addressList}">
			<tr th:each="address : ${addressList}">
				<td th:text="${address.address}"></td>
				<td th:text="${address.balanceView}"></td>
			</tr>
			</tbody>
		</table>
	</div>

</section>

